@page "/menucomp"
@layout MainLayout

@using DauaPharm.Data;
@using DauaPharm.Data.Entities;
@using Syncfusion.Blazor.Navigations

@inject AppState AppState
@inject IPharmService PharmService


    <div class="menu-control">
        <div class="layout">
            <div id="container">
                <SfMenu Items="@menus" Fields="@MenuFields" CssClass="e-scrollable-menu"></SfMenu>
            </div>
        </div>
    </div>

            @code{

                // Create and empty list, named viideos, of empty Video objects.
                IEnumerable<SprBuxMnu> menus;
                protected override async Task OnInitializedAsync()
                {
                    //Populate the list of video objects from the Video table.
                    menus = await PharmService.Pharm_GetSprBuxMnu(AppState.BuxFrm, AppState.BuxKod);
                }

                public MenuFieldSettings MenuFields = new MenuFieldSettings()
                {
                    ItemId = "MnuBarKod",
                    Text = "MnuBarTxt",
                    ParentId = "MnuBarPrn",
                    Url = "MnuBarUrl"
                };

            }
            <style>
                .e-scrollable-menu:not(.e-menu-popup) {
                    width: 1200px;
                 }

                .e-menu-wrapper {
                    text-align: center;
                }

                .menu-control {
                    margin-top: 5px;
                    text-align: center;
                }

                .e-menu-wrapper ul .e-menu-item.e-selected {
                    background-color: green;
                    color: white;
                }

                /*.e-menu-wrapper il {
                    width: 100%;
                }*/

                .e-menu-wrapper ul .e-menu-item {
                    width: 240px;
                }

                .e-menu-wrapper ul .e-menu-item.e-focused {
                    background-color: green;
                    color: white;
                }

                .e-menu-wrapper .e-ul .e-menu-item.e-focused {
                    background-color: green;
                    color: white;
                }

                .e-menu-wrapper .e-ul .e-menu-item.e-selected {
                    background-color: green;
                    color: white;
                }
            </style>
