@page "/menucomp"
@layout MainLayout

@using DauaPharm.Data;
@using DauaPharm.Data.Entities;
@using Syncfusion.Blazor.Navigations

@inject AppState AppState
@inject IPharmService PharmService


<div id="ControlRegion">
    <div class="menu-control">
        <SfMenu Items="@menus" Fields="@MenuFields"></SfMenu>
    </div>
</div>

@code{

    // Create and empty list, named viideos, of empty Video objects.
    IEnumerable<Menu> menus;
    protected override async Task OnInitializedAsync()
    {
        //Populate the list of video objects from the Video table.
        menus = await PharmService.Pharm_GetMenu(AppState.BuxFrm, AppState.BuxKod);
    }

    public MenuFieldSettings MenuFields = new MenuFieldSettings()
    {
        ItemId = "MnuBarKod",
        Text = "MnuBarTxt",
        ParentId = "MnuBarPrn",
        Url = "MnuBarUrl"
    };

}
<style>
    .e-menu-wrapper {
        text-align: center;
    }

    .menu-control {
        margin-top: 45px;
        text-align: center;
    }
</style>